#header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #ffffff;
   border: 1px dashed red;
   background-image: url('../../images/youtube-logo2.png');
   background-repeat: no-repeat;
}