#header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 0 150px 5px 150px;
   background-color: #ffffff;
   background-image: url('../../images/youtube-logo2.png');
   background-repeat: no-repeat;
}