.active-video {
   min-height: 550px;
   max-height: 625px;
   margin-bottom: 20px;
   width: 100%;
   line-height: 1.5em;
   text-overflow: ellipsis;
   overflow: hidden;
}

.active-video h2 {
   margin-top: 10px;
   color: #666666;
   line-height: 1.3em;
}

.active-video p {
   margin-top: 5px;
   
}

.active-video iframe {
   border: none;
}

