* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app .main-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 60px;
    background-color: #f9f9f9;
}

#app .left-column {
    min-width: 600px;
    max-width: 100%;
    padding: 50px 10px;
    flex-basis:60%;
}

#app .right-column {
    width: 500px;
    padding: 50px 10px;
}

.hidden {
   visibility: hidden;
}